<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @chat.number %>
</p>

<p>
  <strong>Application:</strong>
  <%= @chat.application %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
